<template>
    <lightning-card title={cardTitle} icon-name="standard:filter">
        <template if:true={objectName}>

            <c-filter-object
                object-name={objectName}
                filter-field-options={filterFieldOptions}>
            </c-filter-object>

            <c-list-of-record
                records={records}
                record-fields={displayedFields}>
            </c-list-of-record>
        </template>

    </lightning-card>
</template>