<template>

    <template for:each={numOfCriteria} for:item="index">
        <c-filter-row
            key={index}
            index={index}
            criteria-options={criteriaOptions}
            type-dict={typeDict}
            has-multiple-rows={hasMultipleRows}
            onremoverow={handleRemoveRow}>
        </c-filter-row>
    </template>

    <div class="slds-m-left_medium slds-m-top_medium">
        <lightning-button-icon variant="brand" icon-name="utility:add"  alternative-text="Add Row" title="Add Row" onclick={handleAddRow}></lightning-button-icon>
    </div>

    <div class="slds-align_absolute-center">
        <lightning-button class="slds-m-horizontal_small" label="Clear Filters" title="Clear Filters" onclick={handleResetFilters}></lightning-button>
        <lightning-button class="slds-m-horizontal_small" variant="brand" label="Apply Filters" title="Apply Filters" onclick={handleApplyFilters}></lightning-button>
    </div>

</template>