<template>
    <lightning-layout>

        <!-- Select Criteria (aka field Name) -->
        <lightning-layout-item size="3" padding="horizontal-small">
            <lightning-combobox
                name="criteriaSelect"
                label="Field"
                value={selectedCriteria}
                placeholder="Select criteria..."
                options={criteriaOptions}
                onchange={handleCriteriaChange}>
            </lightning-combobox>
        </lightning-layout-item>

        <!-- Search Type (ex: greater than, equals, etc)-->
        <lightning-layout size="2" padding="horizontal-small">

            <template if:true={isNumeric}>
                <lightning-combobox
                    name="searchType"
                    label="Search Type"
                    value={selectedSearchType}
                    options={numericOptions}
                    onchange={handleSearchTypeChange}
                    disabled={selectTypeDisabled}>
                </lightning-combobox>
            </template>

            <template if:true={isText}>
                <lightning-combobox
                    name="searchType"
                    label="Search Type"
                    value={selectedSearchType}
                    options={textOptions}
                    onchange={handleSearchTypeChange}
                    disabled={selectTypeDisabled}>
                </lightning-combobox>
            </template>
        </lightning-layout>

        <!-- Input Value -->
        <lightning-layout-item size="6" padding="horizontal-small">
            <template if:true={isRange}>
                <lightning-layout>
                    <lightning-layout-item size="5">
                        <lightning-input type={criteriaType} name="lowRange" label="Minimum" value={minValue} onchange={handleMinValueChange} disabled={valueInputDisabled}></lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size="2">
                        <div class="slds-text-align_center">
                            and
                        </div>
                    </lightning-layout-item>
                    <lightning-layout-item size="5">
                        <lightning-input type={criteriaType} name="highRange" label="Maximum" value={maxValue} onchange={handleMaxValueChange} disabled={valueInputDisabled}></lightning-input>
                    </lightning-layout-item>
                </lightning-layout>
            </template>

            <template if:false={isRange}>
                <template if:false={isBoolean}>
                    <lightning-input type={criteriaType} name="value" label="" value={value} onchange={handleValueChange} disabled={valueInputDisabled}></lightning-input>
                </template>
                <template if:true={isBoolean}>
                    <lightning-input type="toggle" name="value" label="" value={value} onchange={handleValueChange}
                                    message-toggle-active="True" message-toggle-inactive="False">
                    </lightning-input>
                </template>
            </template>
        </lightning-layout-item>

        <lightning-layout-item size="1" padding="around-small">
            <lightning-button-icon class="slds-m-top_medium" icon-name="utility:delete"  alternative-text="Delete Row" title="Delete Row" onclick={handleRemove} disabled={removeDisabled}></lightning-button-icon>
        </lightning-layout-item>

    </lightning-layout>
</template>