<template>
    <template if:true={records}>
        <div class="slds-m-around_medium">

            <lightning-datatable
                key-field="Id"
                data={displayedRecords}
                columns={tableColumns}
                onsort={handleSort}
                hide-checkbox-column="true">
            </lightning-datatable>
            </br>
            <lightning-layout horizontal-align="space">
                <lightning-layout-item flexibility="auto">
                    <lightning-button
                        name='previous'
                        label="Previous"
                        icon-name="utility:chevronleft"
                        onclick={handlePageChange}
                        disabled={previousDisabled}>
                    </lightning-button>
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto">
                    {pageLabel}
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto">
                    <lightning-button
                        name="next"
                        label="Next"
                        icon-name="utility:chevronright"
                        icon-position="right"
                        onclick={handlePageChange}
                        disabled={nextDisabled}>
                    </lightning-button>
                </lightning-layout-item>
            </lightning-layout>
        </div>
    </template>
</template>